*{
	box-sizing: border-box;
}

body{
	font-family: Helvetica, verdana,arial, 'Open Sans', sans-serif;

}
ul, p{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
h3{
	margin: 0px;
}
@font-face{
	font-family: fontawesome;
	src: url('fontawesome-webfont.ttf'),
	     url('fontawesome-webfont.eot'); /* IE9 */
}
ul img{
	text-align: center;
	height: 100px;
	width: 134px;
}
.wrapper{
	max-width: 640px;
	margin: 40px auto;
	height: auto;
	/*background: #f3f3f3;*/
}

.search-input{
	padding: 10px;
	border-radius: 40px;
	border: 1px solid #B1AAAA;
}
.search-field{
	max-width: 300px;
	margin: 70px auto;
	position: relative;
	border: 1px solid black;
	width: 600px;

	border-radius: 8px;
	}
.search-field .search-suggestions{
	display: none;
	position: absolute;
	left: 30px;
	width: 235px;
	background: white;
	border: 1px solid black;
	border-top: 0;
	margin-top: 9px;

}
.search-field .search-suggestions ul li:hover{
	cursor: pointer;
	background: rgb(192, 223, 243);
}
.search-field .search-suggestions ul .selected{
	background: rgb(192, 223, 243);
}

.search-input input{
	box-sizing: border-box;
	width: 500px;
	height: 40px;
	padding: 5px;
	padding-left:20px;
	border: 0;
	font-size: 20px;
}
.search-input input:focus{
	outline-width: 0;
	outline: none ;
	border:0px;
}
.search-field button{
	width: 298px;
	margin: 0px;
	border-radius: 7px;
	background: #428697;
	color: white;
	font-size: 16px;
	padding: 11px 20px;
	border: 1px solid #B1AAAA;
	position: relative;

}

.recipe .description, .recipe img{
	float:left;
}
.recipe .description{

}
.recipe{
	padding: 10px;
	background: #E4E1E1;
	color: rgb(60, 60, 60);
	margin-bottom: 20px;
}
.recipes-wrapper .ingredients li{
	display: inline-block;
	margin: 5px 10px 0 0;
	padding: 5px;
	border-radius: 5px;
}
.recipes-wrapper .ingredients{
	display: inline;
}

.recipes-wrapper .description{
	max-width: 480px;

	padding: 0px;
	padding-top: 0; 
}
.content .meat, .content .vegetable, .content .carbohydrate, .content .spice, .content .other{
	background: none;
	color:black;
}
.content h3{
	text-align: center;
}
.meat{

	background: #FF5D40;
	color: white;
}
.vegetable{

	background: #41a128;
	color: white;
}
.dairy{
	background: #FFF;
	color: #444;
}
.carbohydrate{
	background: #FFF100;
	color: rgb(95, 93, 93);
}
.spice{
	background: #555;
	color: white;
}
.other{
	background: #6896C3;
}
.description p{
	margin: 10px 0;
}
.clear{
	clear:both;
}
.recipe .description .cookingtime{
	margin-left: 10px;
	margin-right: 5px;
}
.description h3 span{
	font-weight: 200;
	font-size: 16px;
}
.description .ingredients-header{
	font-weight: bold;
	padding-left:0;
	display: block;
}
.menu-item{
	float:left;
	margin-right: 10px;
	padding: 10px;
}
.menu-item:hover{
	color: red;
	cursor: pointer;
}
.menubar{
	margin: 0 auto;
width: 300px;
}
.recipe-wrapper .content{

}
.recipe-wrapper{
	
	margin: 0 auto;
	text-align: center;
}

.recipe-wrapper img{
	width: 300px;
}
.recipe-wrapper .description{
	text-align: left;
	padding: 20px;
	padding-top: 0; 
}
.recipe-wrapper .description h3{
	padding: 0px;
	margin: 0px;
}
.recipe-wrapper .ingredients{
	padding: 20px;

}
.recipe-wrapper h1{
	text-align: center;
}
.recipe-wrapper .ingredients ul{
	list-style-type: disc;
	text-align: left;
}
.recipe-wrapper .ingredients ul li{
	margin:20px;
}
.recipe-wrapper .instructions{

	text-align: left;
}
.recipe-wrapper .instructions ol li{
	margin-bottom: 10px;
}
.ingredients .amounttype,.ingredients .amount{
	font-weight: bold;
}
.search-field-hidden{
		display: none;

	}

	.search-tag-wrapper{
		color: white;
		display: inline-block;
		background: #44D;
		padding: 4px 8px;
		border-radius: 5px;
		margin:5px;
	}
	.search-tag{
		margin-right: 7px;
	}
	.search-tag-wrapper .close{
		color:#121281;
	}
	.search-tag-wrapper .close:hover{
		cursor: pointer;
	}
	.writable-tag{
		height:30px;
		font-size: 20px;
		border: 0px;
	}
	.writable-tag:focus{
		outline-width: 0;
		outline: none ;

	}
	.close, .writable-tag,.search-tag-wrapper, .search-tag{
		display: inline-block;
	}
textarea{
				width: 200px;
				height: 100px;
			}
			ul{
				list-style-type: none;
			}
			span{
				display: inline-block;
				margin: 5px;
			}
			h4{
				display: inline-block;
				margin: 0px;
			}
			#header{
				/*margin-right: 75px;*/
			}

			.form-wrapper{
				max-width: 580px;
				margin: 0 auto;
			}
			.form-wrapper input[name="recipeName"]{
				width: 100%;
				font-size: 26px;
				margin: 0px;	
			}
			.form-wrapper .amount{
				width: 80px;
				font-size: 16px;
				text-align: center;
				position: relative;
				top: 2px;
			}
			.form-wrapper .amounttype{
				width: 60px;
			}
			.form-wrapper .ingredient{
				width: 100%;
				font-size: 24px;
			}

			.form-wrapper .category{
				width: 100px;
			}
			.form-wrapper textarea{
				width: 100%;
				font-size: 20px;
			}
			.form-wrapper input,.form-wrapper select{
				margin: 0px;
				padding: 0px;
				display: inline-block;
			}
			.check-ok{
				color: #4D4;
			}
			.check-fail{
				color: #D44;
			}
			.form-wrapper .time{
				width: 98px;
			}
			.form-wrapper .left, .form-wrapper .right{

				text-align: center;
			}
			.form-wrapper .right input{
				font-size: 18px;
			}
			.form-wrapper .ingredients-wrapper{
				font-size: 20px;
			}
			.ingredients-wrapper h3{
				text-align: center;
			}
			.ingredients-wrapper{

				margin: 0 auto;
			}
			#theList li{
				padding: 10px;
				background: #eee;
			}
			#submit{
				width: 100%;
				font-size: 20px;
				font-weight: bold;
			}
			.portions .clock, .cookingtime-wrapper .clock{
				font-size: 80px;
			}
			.form-wrapper .cookingtime-wrapper, .form-wrapper .portions{
				padding: 20px;
				background: #eee;
				margin: 10px 0;
			}
			.form-wrapper .portions input{
				width: 60px;
			}

#theList{
	text-align: left;
}