*{
	box-sizing: border-box;
}
body{
	font-family: Helvetica, arial, 'Open Sans', sans-serif;	
}
ul, p{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
h3{
	margin: 0px;
}
@font-face{
	font-family: fontawesome;
	src: url('fontawesome-webfont.ttf'),
	     url('fontawesome-webfont.eot'); /* IE9 */
}
.wrapper{
	max-width: 960px;
	margin: 40px auto;
	height: 1000px;
	/*background: #f3f3f3;*/
}
.message{
	padding: 10px;
background: aliceblue;
border: 1px solid rgb(167, 167, 167);
margin-bottom: 10px;
border-radius: 7px;
color: green;
}
.search-suggestions-item span{
	position: absolute;
right: 10px;
background: #333;
color: white;
padding: 3px;
top: 2px;
border-radius: 3px;
}
.explanation{
	color: #C2C1C1;
font-weight: normal;
}
.search-input{
	padding: 10px;
	border-radius: 40px;
	border: 1px solid #B1AAAA;
}
.search-field{
	width: 600px;
	margin: 70px auto;
	position: relative;
}
.search-field .search-suggestions{
	z-index: 2;
	display: none;
	position: absolute;
	left: 30px;
	width: 500px;
	background: white;
	border: 1px solid black;
	border-top: 0;
	margin-top: 9px;

}
.search-field .search-suggestions ul li:hover{
	cursor: pointer;
	background: rgb(192, 223, 243);
}
.search-field .search-suggestions ul .selected{
	background: rgb(192, 223, 243);
}


.search-suggestions-item{
	position: relative;
	padding: 5px;
}

.search-input input{
	box-sizing: border-box;
	width: 500px;
	height: 40px;
	padding: 5px;
	padding-left:20px;
	border: 0;
	font-size: 20px;
}
.search-input input:focus{
	outline-width: 0;
	outline: none ;
	border:0px;
}
.search-field button{
	position: absolute;
	right: -2px;
	top: -2px;
	background: #428697;
	color: white;
	font-size: 16px;
	padding: 16px 23px;
	border-radius: 7px;
	border: 0px solid #B1AAAA;
}
ul img{
	height: 100px;
	width: 134px;
}
.recipe .description, .recipe img{
	float:left;
}
.recipe .description{
	margin-left: 20px;
}
.recipe{
	padding: 10px;
	background: #E4E1E1;
	color: rgb(60, 60, 60);
	margin-bottom: 20px;
}
.recipes-wrapper .ingredients li{
	display: inline-block;
	margin: 5px 10px 0 0;
	padding: 5px;
	border-radius: 5px;
}
.recipes-wrapper .ingredients{
	display: inline;
}

.recipes-wrapper .description{
	max-width: 780px;

	padding: 20px;
	padding-top: 0; 
}
.content .meat, .content .vegetable, .content .carbohydrate, .content .spice, .content .other{
	background: none;
	color:black;
}
.meat{
	/*background: #A61A00;*/
	background: #FF5D40;
	color: white;
}
.vegetable{
	/*background: #2DD700;*/
	background: #41a128;
	color: white;
}
.dairy{
	background: #FFF;
	color: #444;
}
.carbohydrate{
	background: #FFF100;
	color: rgb(95, 93, 93);
}
.spice{
	background: #555;
	color: white;
}
.other{
	background: #6896C3;
	color:white;
}
.description p{
	margin: 10px 0;
}
.clear{
	clear:both;
}
.recipe .description .cookingtime{
	margin-left: 10px;
	margin-right: 5px;
}
.description h3 span{
	font-weight: 200;
	font-size: 16px;
}
.description .ingredients-header{
	font-weight: bold;
	padding-left:0;

}
.menu-item{
	float:left;
	margin-right: 10px;
	padding: 10px;
}
.menu-item:hover{
	color: red;
	cursor: pointer;
}

.recipe-wrapper .content{
	float:left;
}
.recipe-wrapper{
	width: 960px;
	margin: 0 auto;
}
.recipe-wrapper .img-container{
	width: 400px;
}
.recipe-wrapper .img-container img{
	height: 300px;
	width: 400px;
}
.recipe-wrapper .description{
	width: 560px;
	height: 300px;
	padding: 20px;
	padding-top: 0; 
}
.recipe-wrapper .description h3{
	padding: 0px;
	margin: 0px;
}
.recipe-wrapper .ingredients{
	padding: 20px;
	width: 400px;
}
.recipe-wrapper .ingredients ul{
	list-style-type: disc;
}
.recipe-wrapper .ingredients ul li{
	margin:20px;
}
.recipe-wrapper .instructions{
	width: 560px;
}
.recipe-wrapper .instructions ol li{
	margin-bottom: 10px;
	
}

.search-field-hidden{
		display: none;
		/*width: 500px;*/
	}
	.search-field{
		border: 1px solid black;
		width: 600px;

		padding: 8px;
		border-radius: 8px;
	}
	.search-tag-wrapper{
		color: white;
		display: inline-block;
		background: #44D;
		padding: 4px 8px;
		border-radius: 5px;
		margin-bottom: 0px;
		margin-right: 7px;
	}
	.search-tag{
		margin-right: 7px;
	}
	.search-tag-wrapper .close{
		color:#121281;
	}
	.search-tag-wrapper .close:hover{
		cursor: pointer;
	}
	.writable-tag{
		height:31px;
		border: 0px;
		font-size: 20px;
		/*width: 100%;*/
	}
	.writable-tag:focus{
		outline-width: 0;
		outline: none ;

	}
	

	.close, .writable-tag,.search-tag-wrapper, .search-tag{
		display: inline-block;
	}

textarea{
	width: 100%;
	height: 100px;
}
ul{
	list-style-type: none;
}
span{
	display: inline-block;
	/*margin: 5px;*/
}
#header{
	/*margin-right: 75px;*/
}

.form-wrapper h1{
	text-align: center;
}
.form-wrapper{
	max-width: 580px;
	margin: 0 auto;
}
.form-wrapper input[name="recipeName"]{
	width: 100%;
	font-size: 26px;
	margin: 0px;
	padding: 10px;	
	margin-bottom: 20px;
}
.form-wrapper textarea[name="description"]{
	max-width: 290px;
	font-size: 16px;
	padding: 8px;
}
.form-wrapper .amount{
	width: 50px;
	margin-left: 15px;
	margin-right: 20px;
	text-align: center;
}
.form-wrapper .amounttype{
	width: 60px;
	margin-right: 20px;
}
.form-wrapper .ingredient{
	width: 120px;
}
.form-wrapper input,.form-wrapper select{
	margin: 5px;
	padding: 0px;
	display: inline-block;
}
.check-ok{
	color: #4D4;
}
.check-fail{
	color: #D44;
}
.form-wrapper .time{
	width: 60px;
}
.form-wrapper .left, .form-wrapper .right{
	float: left;
	width: 290px;

}
.form-wrapper .left h3{
	text-align: left;
	margin: 10px 0 6px 0;
}
.form-wrapper .right i{
	position: relative;
	top: 3px;
	font-size: 40px;
}
.form-wrapper .right{
	padding-left: 65px;
	padding-top: 40px;
}

.form-wrapper .right .cookingtime-wrapper{
	margin-bottom: 20px;
}
.form-wrapper .right input{
	font-size: 16px;
	height: 30px;
	padding-left: 10px;
}

.form-wrapper .right input[name="portions"]{
	width: 60px;
}
.form-wrapper  textarea[name="instructions"]{
	max-width: 580px;
	font-size: 16px;
}
.form-wrapper .instructions-wrapper h3{
	margin-bottom:6px;
}
.form-wrapper .instructions-wrapper{
	margin-top:30px;
	margin-bottom:30px;
}
.form-wrapper .instructions-wrapper textarea{
	padding: 8px;
}
.erase:hover{
	color: #D44;
}
.ingredients-wrapper span{
	margin-right: 20px;
}
.ingredients-wrapper{
}
.ingrediens-header{
	background: #269091;
	color: white;
	font-family: fantasy;
	font-size: 20px;
	padding: 6px 16px;

	margin: 16px 0px;
	margin-bottom: 0px;
}

#theList li input{
	font-size: 16px;
	padding: 6px;
}
#theList li{
	padding: 6px;
	border-bottom: 1px solid #DAD5D5;
}
.ingrediens-header span:nth-child(1){
	margin-right: 10px;
}
.ingrediens-header span:nth-child(2){
	margin-right: 80px;
}
.ingrediens-header span:nth-child(3){
	margin-right: 80px;
}

#theList .ingredient{
	width: 200px;
	margin-right: 20px;
}
#theList .category{
	margin-right: 20px;
}
#theList .check{
	display: inline-block;
	width: 20px;
	margin-right: 20px;
}
.header{
	position: relative;
	top: 3px;
}

.select-style {
	position: relative;
	display: inline-block;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
	height: 34px;
	font-size: 16px;
    padding: 5px 8px;
    width: 110%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.select-style i{
	position: absolute;
	right: 7px;
	top: 10px;
	z-index: -2;
}


.description h1{
	margin-top: 0px;
}
.description .cookingtime-wrapper{
	margin-top:50px;
}
.description .cookingtime-wrapper, .description .portions-wrapper, .description .change{
	font-size: 16px;
	margin-bottom: 20px;
}
